.header{
    background-color: blueviolet;
    display:flex;
    justify-content:space-between
}
.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly
}
.footer{
    display:flex;
    justify-content:flex-end;
    margin-bottom:5px;
}
.item{
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    text-align:center;
    margin-top:5px;
}
h1{
    text-align:center
}

h2{
    text-align:center
}

body{
    background-color:#00aaee
}